.App {
	font-family: 'Helvetica Neue', Arial, sans-serif;
	margin: 20px auto;
	max-width: 800px;
	padding: 30px;
	background-color: #f8f9fa;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.title {
	text-align: center;
	color: #17a2b8;
	font-size: 28px;
	margin-bottom: 30px;
	text-transform: uppercase;
	letter-spacing: 1.5px;
}

.post-form {
	margin-bottom: 30px;
}

.post-text {
	width: 100%;
	padding: 5px;
	margin-bottom: 20px;
	border: 2px solid #17a2b8;
	border-radius: 4px;
	font-size: 16px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post-image {
	width: 100%;
	height: auto;
	margin-bottom: 20px;
	border-radius: 4px;
}

.post-button {
	background-color: #17a2b8;
	color: #ffffff;
	border: none;
	padding: 15px 30px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 18px;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}

.post-button:hover {
	background-color: #138496;
}

.post-card {
	background-color: #ffffff;
	border: none;
	border-radius: 4px;
	padding: 30px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

.edit-button,
.delete-button,
.like-button
{
  background-color: #17a2b8;
	color: #ffffff;
	border: none;
	padding: 10px 20px;
  margin-bottom: 10px;
  margin-left: 5px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 12px;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}

input[type=file]::file-selector-button {
  margin-right: 20px;
  border: none;
  background: #17a2b8;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  cursor: pointer;
  transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
  background: #058093;
}


comment-section{
  border: none;
}
.comment-input {
	position:relative;
	font-size: 20px;
background: linear-gradient(21deg, #bfdee3);
	padding: 10px;
	display: inline-block;
	border-radius: 9999em;
	}

  .delete-comment-button
{
  background-color: #17a2b8;
	color: #ffffff;
	border: none;
	padding: 5px 10px;
  margin-bottom: 10px;
  margin-left: 5px;
	border-radius: 4px;
	cursor: pointer;
	font-size: 10px;
	text-transform: uppercase;
	transition: background-color 0.3s ease;
}